body{
	background-color: rgb(255, 223, 223);
}

.user-pic{
	height : 15vh;
}

.post-text{
	height : 200px !important;
}

.pointer{
	cursor: pointer;
}

.person-pic{
	height: 100px;
	width: 100px;
}
.text-small{
	font-size: 0.7rem;
}

.user-small-image{
	height: 50px;
	width: 50px;
}

.post-image{
	height: 40vh;
	width: 60vw;
}
.login_1{
font-size:1.2rem;
font-style: italic;
}
.reg{
    
        font-size:1.2rem;
        font-style: italic;

}